doctype html
html
  head
    title= title
    link(rel="icon" href="/favicon.ico")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js') 
    script(src='/jquery-ui-dist/jquery-ui.min.js')    
    link( href='/jquery-ui-dist/jquery-ui.min.css',rel='stylesheet' )    
    style.
      div.horizontal a
      {
      display:block;
      font-size:14px;
      font-weight: bold;
      }
      div.horizontal a:link,div.horizontal a:visited
      {
      color:#585858;
      text-align:center;
      padding:4px;
      margin:10px;
      text-decoration:none;
      text-transform:uppercase;
      }
      div.horizontal a:hover,div.horizontal a:active
      {
      color:white;
      background-repeat: repeat-x;
      background-image: url('/app_static_file/me/img/nav_bg_hover.gif');
      }  
      a:link {
      	color:black;
        text-decoration: none;
      }
      a:visited {
      	color:black;
          text-decoration: none;
      }
      a:hover {
          text-decoration: none;
      }
      a:active {
          text-decoration: none;    
      }
      a:visited {
          text-decoration: none;
      }
      a.retALink:link {
      	color:white;
          text-decoration: none;
      }
      a.retALink:visited {
      	color:white;
      }     
      button.mbcbtn0{
        margin:0;
        padding:0;
        border:0;
        background-repeat: no-repeat;
        background-image: url('/app_static_file/me/img/btn01_bg.gif');
      }
      button.mbcbtn1{
        background-repeat: no-repeat;
        background-image: url('/app_static_file/me/img/btn02_bg.gif');
      }
      button.mbcbtn2{
        background-repeat: no-repeat;
        background-image: url('/app_static_file/me/img/btn03_bg.gif');
      }
      tr.titlebg_r
      {
       background-repeat:repeat-x;
       background-image: url('/app_static_file/me/img/titlebg.gif');
      }
      td.titlebg_r
      {
      	height:30px;
      	font-size:16px;
      	color:white;
      	margin:0;
       }
       span.titlebg_r
       {
      	 width:70%;
      	 min-width:70%; 
      	 display: inline-block;
       }  
  body
    .navbar.navbar-inverse.navbar-top(style="border:0;background-image: url('/app_static_file/me/img/body_bg.gif');")
      .container(style="max-width:920px;background-repeat: no-repeat;background-image: url('/app_static_file/me/img/header.jpg');")
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.horizontal 
            a.navbar-brand(href="/internal/") <br>首頁
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              div.horizontal 
                a(href="#" ,onclick="mu_link('sw');") <br>輔導員專區
            li
              div.horizontal 
                a(href="#", onclick="mu_link('act');") <br>活動資訊
            li
              div.horizontal 
                a(href="#", onclick="mu_link('moral');") <br>德育園地
            li
              div.horizontal 
                a#mu5(href="#",onclick="mu_link('comm');") &nbsp;<br>家長通訊
          ul.nav.navbar-nav.navbar-right      
        table(width="100%")
          tr
            td(style="padding-top:96px;") &nbsp;
          tr
            td(colspan=3)
              img(src="/app_static_file/me/img/logo_moral.gif",align="left")
    .container(style="width:920px;margin-top:-10px;padding-top:-20px;")
      .row(style="margin:0;padding:0px;")
        .col-lg-4(style="margin:0;padding:0px;")
          table#news_tab(style="width:100%;max-width:500px")
            tr.titlebg_r
              td.titlebg_r(valign="top", colspan=2) 
                span &nbsp;&nbsp;最新消息
                span(style="width:50%;min-width:50%; display: inline-block;") &nbsp;
                img(src="/app_static_file/me/img/more.png", id="btn_news_more", onclick="mu_link('news')")
          table#act_tab(style="width:100%;max-width:500px")
            tr.titlebg_r
              td.titlebg_r(valign="top",colspan=2)
                span &nbsp;&nbsp;活動消息
                span(style="width:50%;min-width:50%; display: inline-block;") &nbsp;
                img(src="/app_static_file/me/img/more.png", id="btn_act_more", onclick="mu_link('act');")
          table#comm_tab(style="width:100%;max-width:500px")
            tr.titlebg_r
              td.titlebg_r(valign="top" , colspan=2)
                span &nbsp;&nbsp;家庭通訊
                span(style="width:50%;min-width:50%; display: inline-block;") &nbsp;
                img(src="/app_static_file/me/img/more.png", id="btn_comm_more", onclick="mu_link('comm');")
          table#link_tab(width="320px")
            tr
              td(style="height:30px;color:white;background-image:url('/app_static_file/me/img/btn05_bg.gif');background-repeat: no-repeat;", colspan=2)
                span &nbsp;&nbsp;連結
        .col-lg-7(style="margin:0;padding:0px;")
          div(id="home_content" style="padding-top:-40px;")
            table(width="600px")
              tr
                td(style="height:30px;color:white;background-image:url('/app_static_file/me/img/btn04_bg.gif');background-repeat: no-repeat;") &nbsp;&nbsp;活動花絮
              tr
                td 
                  -let slideimg_cnt=0;
                  div(id="myCarousel", class="carousel slide", data-ride="carousel")
                    ol(class="carousel-indicators")
                      li(data-target="#myCarousel", data-slide-to="0", class="active")
                      //each ite_ in itemsObj
                           if ite_.type=='slideimg'
                             li(data-target="#myCarousel", data-slide-to=(slideimg_cnt++))
                  div( class="carousel-inner")#carousel_inner
                    div(class="item active")
                      img(src="/images/frontpage_570_371.jpg", alt="Front Page", style="width:100%;")
                    //each ite_ in itemsObj
                      if ite_.type=='slideimg'
                        div(class="item")
                          img(src=ite_.item, alt="TeacherDay", style="width:100%;")
                    a(class="left carousel-control", href="#myCarousel", data-slide="prev")
                      span( class="glyphicon glyphicon-chevron-left")
                      span( class="sr-only") Previous
                    a(class="right carousel-control", href="#myCarousel", data-slide="next")
                      span( class="glyphicon glyphicon-chevron-right")
                      span( class="sr-only") Next
            table(width="600px")
              tr.titlebg_r
                td.titlebg_r(valign="top") &nbsp;&nbsp;德育園地
              tr
                td
                  <table align="center">
                  <tr>
                  <td><img src="/app_static_file/me/img/moral9.gif " alt="生命教育"  onclick="mu_link('moral9',': 生命教育');">
                  <td><img src="/app_static_file/me/img/moral1.gif " alt="親子"onclick="mu_link('moral1',': 親子');">
                  <td><img src="/app_static_file/me/img/moral2.gif " alt="性教育" onclick="mu_link('moral2',': 性教育');">
                  <td><img src="/app_static_file/me/img/moral3.gif " alt="品德" onclick="mu_link('moral3',': 品德');">
                  <td><img src="/app_static_file/me/img/moral4.gif " alt="勵志"  onclick="mu_link('moral4',': 勵志');">
                  <tr>
                  <td><img src="/app_static_file/me/img/moral5.gif " alt="情緒"  onclick="mu_link('moral5',': 情緒');">
                  <td><img src="/app_static_file/me/img/moral6.gif " alt="網絡"  onclick="mu_link('moral6',': 網絡');">
                  <td><img src="/app_static_file/me/img/moral7.gif " alt="濫藥" onclick="mu_link('moral7',': 濫藥');">
                  <td><img src="/app_static_file/me/img/moral8.gif " alt="社會新聞" onclick="mu_link('moral8',': 社會新聞');">
                  <td><img src="/app_static_file/me/img/moral0.gif " alt="環保節能" onclick="mu_link('morala',': 環保節能');">
                  </table>
            table#moral_tab(width="600px")
              tr.titlebg_r
                td.titlebg_r(valign="top") &nbsp;&nbsp;德育園地              
          div#main_content
          div#main_detail
          div#main_loading
            img(src="/app_static_file/me/img/loading.gif")

    footer(style="background-image: url('/app_static_file/me/img/footer_bg.gif');")
      p(class="float-right") &nbsp;
        
        //a( href="#") Back to top
      p(align="center") Help Hotline: 寫信給澳門浸信中學|COPYRIGHT 2015-2016 澳門浸信中學. all rights reserved
  
  