*.*~
*.*.swp
favicon.ico
app.js
mailrelaydata.js
mrelay.js
mrelay.js20190502
mrelay.my.js
mysqltester.js
SslLicense.js
run.bat
run_mail.mbc.edu.mo.bat
run_mail.web.bat
sendmail.cs
sendmail.exe
smtp.js
config.js
childproc/
deptworklog/
ecosystem.config.js
gsuite_gmail_inboundgateway_mailrelayserver_log.txt
node_modules/
obj/
package-lock.json
public/acme-challenge/
public/ckeditor/
public/ckeditorimages/
public/doc/
public/fonts/
public/javascripts/
public/jquery-ui-dist/
public/stylesheets/
sslcert/
routes/attend/
routes/azwg/
routes/ckeditorimages/
routes/dashboard/
routes/kideval/
routes/mail/
routes/sslforfree/
routes/workgrid/
routes/worknote/
routes/maths/
views/attend/
views/azwg/
views/dashboard/
views/kideval/
views/mail/
views/sslforfree/
views/workgrid/
views/worknote/
views/maths/
Web.njsproj
