*.*~
*.*.swp
routes/act/stdAttend/*
routes/me/*
public/math-input/*
public/mathlive/*
index0.pug
index99.pug
favicon.ico
app.js
mailrelaydata.js
mrelay.js
mrelay.js20190502
mrelay.my.js
mysqltester.js
SslLicense.js
run.bat
run_mail.mbc.edu.mo.bat
run_mail.web.bat
sendmail.cs
sendmail.exe
smtp.js
config.js
childproc/
deptworklog/
ecosystem.config.js
gsuite_gmail_inboundgateway_mailrelayserver_log.txt
node_modules/
obj/
package-lock.json
public/acme-challenge/
public/ckeditor/
public/ckeditorimages/
public/doc/
public/fonts/
public/javascripts/bootstrap.js
public/javascripts/jquery.js
public/javascripts/jquery.min.map
public/javascripts/jquery.slim.js
public/javascripts/jquery.slim.min.map
public/stylesheets/b*.map
public/stylesheets/bootstrap.css
public/stylesheets/bootstrap-theme.css
public/stylesheets/carousel.css
public/stylesheets/dashboard.css
public/jquery-ui-dist/images
public/jquery-ui-dist/AUTHORS.*
public/jquery-ui-dist/index.*
public/jquery-ui-dist/LICENSE.*
public/jquery-ui-dist/package*.*
public/jquery-ui-dist/README.md
sslcert/
routes/attend/
routes/azwg/
routes/ckeditorimages/
routes/dashboard/
routes/kideval/
routes/mail/
routes/sslforfree/
routes/workgrid/
routes/worknote/
routes/maths/
views/attend/
views/azwg/
views/dashboard/
views/kideval/
views/mail/
views/sslforfree/
views/workgrid/
views/worknote/
views/maths/
Web.njsproj
