extends ./base.pug
block content
  ul.list-group
    li.list-group-item
      a(href="/internal/sportday/rclist") 
        .media-left
        .media-body      
          span 最新入圍/獲獎名單及比賽成績               
    li.list-group-item
      a(href="/internal/sportday/charter")    
        .media-left
        .media-body      
          span 第十五屆校運會章程 
    li.list-group-item
      a(href="/internal/sportday/statisc")    
        .media-left
        .media-body
          span 本屆各組報名人數資料及歷年各組最佳成績
    //li.list-group-item
      a(href="https://drive.google.com/drive/mobile/folders/1RUjpymJxT5geeknT24rdK_3ds7Rk2Ovh")
        .media-left
        .media-body
          span  G drive 公布賽果          

    each book in books
      li.list-group-item
        a(href=`/internal/sportday/content/${book.id}`)
          .media-left
            if book.imageUrl
              img(src=`/app_static_file/act/bbs/${book.imageUrl}`,style="max-width:100px")
          .media-body
            span= book.title
