extends ./base.pug
block content
  table(width="100%",border=1)
    <tr><td> 項目/組別<td>      男A<td> 男B<td> 男C<td> 男D<td> 男E<td> 女A<td> 女B<td> 女C<td> 女D<td> 女E<td> 小計
    <tr><td> 50M<td>    -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 60M<td>    -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 100M<td>   65<td>  78<td>  68<td>  -<td>   -<td>   58<td>  46<td>  66<td>  -<td>   -<td>   381
    <tr><td> 200M<td>   28<td>  42<td>  32<td>  -<td>   -<td>   28<td>  19<td>  18<td>  -<td>   -<td>   167
    <tr><td> 400M<td>   12<td>  6<td>   -<td>   -<td>   -<td>   8<td>   6<td>   -<td>   -<td>   -<td>   32
    <tr><td> 800M<td>   20<td>  6<td>   -<td>   -<td>   -<td>   15<td>  5<td>   -<td>   -<td>   -<td>   46
    <tr><td> 1000M<td>  -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 1500M<td>  22<td>  18<td>  12<td>  -<td>   -<td>   17<td>  4<td>   5<td>   -<td>   -<td>   78
    <tr><td> 3000M<td>  -<td>   5<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   5
    <tr><td> 5000M<td>  34<td>  -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   34
    <tr><td> 60米欄<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 80米欄<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 100米欄<td>        -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 110米欄<td>        -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 4x50M<td>  -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 4x100M<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 4x400M<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 跳高<td>   37<td>  17<td>  16<td>  -<td>   -<td>   42<td>  24<td>  22<td>  -<td>   -<td>   158
    <tr><td> 跳遠<td>   70<td>  52<td>  60<td>  -<td>   -<td>   77<td>  49<td>  78<td>  -<td>   -<td>   386
    <tr><td> 三級跳遠<td>       7<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   7
    <tr><td> 壘球<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
    <tr><td> 鉛球<td>   60<td>  50<td>  44<td>  -<td>   -<td>   64<td>  45<td>  35<td>  -<td>   -<td>   298
    <tr><td> 小計<td>   355<td> 274<td> 232<td> -<td>   -<td>   309<td> 198<td> 224<td> -<td>   -<td>   1592