<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mbc 2020-2021 sport</title>
  <script>function lc(x){ window.location.assign("sport_rc?n="+x.text.split(":")[1]);}  </script>
  <style> ul {list-style-image: url('/act_static_info/info/image001.png');} table, th, td {  border: 1px solid black;border-collapse: collapse;} </style>
</head>
<body>
<h3>澳門浸信中學第十五屆田徑運動會章程</h3>
<div>一、宗旨：開展體育活動，增強學生身體素質；提高學生運動水平，豐富學生校園生活。 </div>
<div>二、比賽日期：11月12-13日 </div>
<div>三、比賽地點：(氹仔)澳門運動場　　　　 </div>
<div>四、組別： </div>
<div> 1.男、女子A組(2004年或以前的出生者)。 </div>
<div> 2.男、女子B組(2005及2006年的出生者)。 </div>
<div> 3.男、女子C組(2007及2008年的出生者)。 </div>
<div> 4.男、女子D組(2009及2010年的出生者)。</div>
<div> 5.男、女子E組(2011年或以後的出生者)。</div>
<div> 五、比賽項目： </div>
<table>
<tr><td>組<td colspan=5>男子組<td colspan=5>女子組</tr>
<tr><td>別<td>A組<td>B組<td>C組<td>D組<td>E組<td>A組<td>B組<td>C組<td>D組<td>E組</tr>
<tr><td></td></tr>
<tr><td>1<td>---<td>---<td>---<td>---<td>50M<td>---<td>---<td>---<td>---<td>50M</tr>
<tr><td>2<td>---<td>---<td>---<td>60M<td>---<td>---<td>---<td>---<td>60M<td>---</tr>
<tr><td>3<td>100M<td>100M<td>100M<td>---<td>---<td>100M<td>100M<td>100M<td>---<td>---</tr>
<tr><td>4<td>200M<td>200M<td>200M<td>---<td>---<td>200M<td>200M<td>200M<td>---<td>---</tr>
<tr><td>5<td>400M<td>400M<td>---<td>---<td>---<td>400M<td>400M<td>---<td>---<td>---</tr>
<tr><td>6<td>800M<td>800M<td>---<td>---<td>---<td>800M<td>800M<td>---<td>---<td>---</tr>
<tr><td>7<td>---<td>---<td>---<td>1000M<td>---<td>---<td>---<td>---<td>1000M<td>---</tr>
<tr><td>8<td>1500M<td>1500M<td>1500M<td>---<td>---<td>1500M<td>1500M<td>1500M<td>---<td>---</tr>
<tr><td>9<td>5000M<td>3000M<td>---<td>---<td>---<td>3000M<td>3000M<td>---<td>---<td>---</tr>
<tr><td></tr>
<tr><td>1<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高<td>跳高</tr>
<tr><td>2<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠<td>跳遠</tr>
<tr><td>3<td>三級跳遠<td>三級跳遠<td>---<td>---<td>---<td>---<td>---<td>---<td>---<td>---</tr>
<tr><td>4<td>---<td>---<td>---<td>壘球<td>壘球<td>---<td>---<td>---<td>壘球<td>壘球</tr>
<tr><td>5<td>鉛球<br>(6KG)<td>鉛球<br>(5KG)<td>鉛球<br>(4KG)<td>---<td>---<td>鉛球<br>(4KG)<td>鉛球<br>(4KG)<td>鉛球<br>(3KG)<td>---<td>---</tr>
</table>
<div> </div>
<div>六、報名： </div>
<div> </div>
<div> 1.報名日期：2020年10月10日 至 2020年10月12日(附註:每名學生最少報2項,最名報3項。)</div>
<div><a href=/internal/sportday/spreg.jsp><h3>報名</h3></a><br> </div>
<div> 2.工作人員 </div>
<div> 初三至高三級未能入圍校運會複賽或決賽的學生，必須報名參與校運會裁判工作人員。 </div>
<div> 比賽成績或裁判員評核分數將成為第一段體育科考試成績。 </div>
<div> (同學報名後無故缺席比賽或裁判工作者,缺席一次扣體育考試成績二十分) </div>
<div> 4.限制： </div>
<div>1)各組運動員每人最多可參加三項比賽，最少參加兩項比賽。 </div>
<div>2)運動員只能參加該年齡組別比賽,虛報年齡報名參賽將被取消資格。 </div>
<div> </div>
<div> </div>
<div>七、檢錄： </div>
<div> 1.所有運動員須經檢錄處檢錄方可參賽。(必須出示號碼布) </div>
<div> (如遺失號碼布，預賽時可到檢錄處，決賽時可到大會服務處辦理補領手續。)</div>
<div> 2.運動員應按賽程表提早三十分鐘(投擲項目提早四十分鐘)到檢錄處集合。</div>
<div>八、比賽注意事項：</div>
<div>1.徑類項目：<div>
<div>1)400M及400M以下之徑類項目，取錄方法如下：</div>
<div>a.60M、100M採用初、決賽。</div>
<div>b.50M、200M、400M採用初、決賽。</div>
<div>c.初賽、決賽以時間作取錄。</div>
<div>2)800M及800M以上徑賽項目，若參加者較多時，決賽將分組進行，以時間定其名次。</div>
<div>4)所有徑賽起步偷跑者，一律取消資格。</div>
<div>2.田類項目：</div>
<div>1) 起跳高度：</div>
<div>a.男子A組：1.20米。b.男子B組：1.10米。c.男子C組：0.85米。d.男子D組：0.80米。</div>
<div>e.女子A組：0.95米。f.女子B組：0.85米。g.女子C組：0.75米。h.女子D組：0.70米。</div>
<div>2) 上升高度：跳高每輪次完成後將升5厘米。(破紀錄除外)</div>
<div>3) 跳類、田類比賽參賽人數若多於8人，每人進行三次試跳或試擲的初賽，</div>
<div>取錄前八名立即再進行三次試跳或試擲的決賽，以六次成績定名次。</div>
<div>4) 跳類、田類比賽參賽人數若少於或等於8人，每人進行六次試跳或試擲，以六次成績定名次。</div>
<div>3.裁判決定為最後決定。</div>
<div>九、獎勵：</div>
<div>1.每組每項各獎前三名。</div>
<div>2.設破校運會最高紀錄獎。</div>
<div>3.設每個組別個人冠軍。</div>
<div>4.設個人全場冠軍獎。</div>
<div>5.設班際(全班男、女子分數之和)高中組、初中組、小學組前三名獎。</div>
<div>6.設級際(全級男、女子分數之和)全場冠軍獎。</div>
<div>1.得分:每個項目第一名得9分，第二名得6分，第三名得5分(接力賽雙計)。</div>
<div>2.凡破紀錄者加5分(每人每項只加一次分)。</div>
<div>3.個人總分:每位運動員個人項目得分總和。</div>
<div>4.團體總分:全班或全級個人總分。</div>
<div>5.總分最多者為冠軍，如分數相同，則按下列情況順次序判定：</div>
<div>十、計分：</div>
<div>1) 破校運會最高紀錄項數多者得冠軍；</div>
<div>2) 獲金牌數多者得冠軍，其次銀牌，再次銅牌；</div>
<div>3) 徑類項目獲第一名多者得冠軍；</div>
<div>4) 100M獲第一名者得冠軍。</div>
<div>十一、其他：</div>
<div>1.校方有權對有關項目事先進行預賽。</div>
<div>2.每項報名人數不足5人者，校方有權將該項目取消。</div>
<div>3.每項比賽可按報名人數多寡安排初、決賽。</div>
<div>4.報名後不得增刪或更改項目。</div>
<div>5.所有運動員應於前胸戴上號碼布。</div>
<div>6.本章程如有不善處，請老師們提出意見，校方視情況進行修改之。</div>

<div>課外活動中心</div>
<div>2020/10/6</div>

<a href=/internal/sportday/spreg.jsp><h3>報名</h3></a><br>
<p>
<ul>
<li><a href=/act_static_info/info/1.htm>1_校運會賽程表</a></li>
<li><a href=/act_static_info/info/2.htm>2_校運會學生裁判員及學生工作人員名單</a></li>
<li><a href=/act_static_info/info/3.htm>3_歷屆團體總冠軍紀錄</a></li>
<li><a href=/act_static_info/info/4.htm>4_澳門浸信中學田徑運動會各組賽事歷屆紀錄</a></li>
<li><a href=/act_static_info/info/5.htm>5_學生工作人員注意事項</a></li>
<li><a href=/act_static_info/info/6.htm>6_運動員注意事項</a></li>
<li><a href=/act_static_info/info/7.htm>7_學生注意事項</a></li>
<li><a href=/internal/act/sportday/sport_rc?n=0>8A_比賽名單賽果</a></li>
</ul>
</p>
<p>
</p>
</body>
</html>