extends ./base.pug
block content
  ul
    li
      a(href="/internal/sportday/rclist") 
        span 名單成績                
    li
      a(href="/internal/sportday/charter")    
        span 章程 
    li
      a(href="/internal/sportday/statisc")    
        span 數據
