extends ./base.pug
block content  
  script(src='/javascripts/cool/grid_export.js')
  script(src='/javascripts/cool/table2csv.js')
  .btn-group
    a(href='#', class='btn btn-primary btn-sm')#exportCSV
      i.glyphicon.glyphicon-download-alt
      span  匯出CSV        
  div

  ul.list-group
    li.list-group-item
      a(href="/internal/sportday/content/3") 初複決賽人數   
    li.list-group-item
      a(href="/internal/sportday/content/2") 田徑運動會歷屆紀錄  
    li.list-group-item
      a(href="/internal/sportday/content/1") 第十五屆校運會賽程表 
  div#tableContent

    h4 報名人數
    table.table
      <tr><td><td><td> 11(0)<td> 12(1)<td> 13(2)<td> 14(3)<td> 15(8)<td> 21(4)<td> 22(5)<td>23(6) <td> 24(7)<td>25(9)<td>
      <tr><td><td> 項目/組別<td>男A<td> 男B<td> 男C<td> 男D<td> 男E<td> 女A<td> 女B<td> 女C<td> 女D<td> 女E<td> 小計
      <tr><td>01<td> 50M <td>-<td>-<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>02<td> 60M <td>-<td>-<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>03<td> 100M<td>65<td>78<td>  68<td>  -<td>   -<td>   58<td>  46<td>  66<td>  -<td>   -<td>   381
      <tr><td>04<td> 200M<td>28<td>42<td>  32<td>  -<td>   -<td>   28<td>  19<td>  18<td>  -<td>   -<td>   167
      <tr><td>05<td> 400M<td>12<td>6<td>   -<td>   -<td>   -<td>   8<td>   6<td>   -<td>   -<td>   -<td>   32
      <tr><td>06<td> 800M<td>20<td>6<td>   -<td>   -<td>   -<td>   15<td>  5<td>   -<td>   -<td>   -<td>   46
      <tr><td>07<td> 1000M<td>-<td>-<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>08<td> 1500M<td>22<td>18<td>  12<td>  -<td>   -<td>   17<td>  4<td>   5<td>   -<td>   -<td>   78
      <tr><td>09<td> 3000M<td>-<td>5<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   5
      <tr><td>10<td> 5000M<td>34<td>  -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   34
      <tr><td>11<td> 60米欄<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>12<td> 80米欄<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>13<td> 100米欄<td>-<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>14<td> 110米欄<td>-<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>15<td> 4x50M<td>  -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>16<td> 4x100M<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>17<td> 4x400M<td> -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>18<td> 跳高<td>   37<td>  17<td>  16<td>  -<td>   -<td>   42<td>  24<td>  22<td>  -<td>   -<td>   158
      <tr><td>19<td> 跳遠<td>   70<td>  52<td>  60<td>  -<td>   -<td>   77<td>  49<td>  78<td>  -<td>   -<td>   386
      <tr><td>20<td> 三級跳遠<td>7<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   7
      <tr><td>21<td> 壘球<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -<td>   -
      <tr><td>22<td> 鉛球<td>   60<td>  50<td>  44<td>  -<td>   -<td>   64<td>  45<td>  35<td>  -<td>   -<td>   298
      <tr><td><td> 小計<td>   355<td> 274<td> 232<td> -<td>   -<td>   309<td> 198<td> 224<td> -<td>   -<td>   1592
    h4 賽會記錄
    table.table
      <tr><td>男子A組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>鍾君濠</td><td>高一愛</td><td>10&quot;80</td><td>第九屆</td><td>2014.11</td>
      <tr><td>200M</td><td>鍾君濠</td><td>高三善</td><td>22&#39;&#39;54&nbsp;</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>400M</td><td>鍾君濠</td><td>高一愛</td><td>53&quot;89</td><td>第九屆</td><td>2014.11</td>
      <tr><td>800M</td><td>歐陽健龍</td><td>高二愛B</td><td>2&#39;15&quot;91</td><td>第四屆</td><td>2010.1</td>
      <tr><td>1500M</td><td>廖亮</td><td>高二愛B</td><td>4&#39;51&#39;&#39;84</td><td>第四屆</td><td>2010.1</td>
      <tr><td>5000M</td><td>楊錦龍</td><td>初三善</td><td>19&#39;53&quot;46</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>110米欄</td><td>林庸</td><td>高三信</td><td>18&quot;73</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>跳高</td><td>易仲景</td><td>高二望A</td><td>1米89</td><td>第一屆</td><td>2006.12</td>
      <tr><td>跳遠</td><td>賴嘉耀</td><td>高二善</td><td>6米19</td><td>第十屆</td><td>2016.1</td>
      <tr><td>三級跳遠</td><td>施傑峰</td><td>高三望</td><td>11米86</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>鉛球(6kg)</td><td>鄺衛豪</td><td>高三信B</td><td>10米60</td><td>第五屆</td><td>2011.1</td>
      <tr><td>4x100M</td><td>關冠華,陳星豪,賴嘉耀,鍾君濠</td><td>高一愛</td><td>46&quot;24</td><td>第九屆</td><td>2014.11</td>
      <tr><td>4X400M</td><td>鍾君濠,林庸,關冠華,賴嘉耀</td><td>高二聯</td><td>3&#39;51&quot;71</td><td>第十屆</td><td>2016.1</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>男子B組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>鍾君濠</td><td>初三信</td><td>11&quot;62</td><td>第八屆</td><td>2013.10~</td>
      <tr><td>200M</td><td>鍾君濠</td><td>初三信</td><td>24&quot;24</td><td>第八屆</td><td>2013.10~</td>
      <tr><td>400M</td><td>鍾君濠</td><td>初三信</td><td>59&quot;11</td><td>第八屆</td><td>2013.10~</td>
      <tr><td>800M</td><td>趙子豪</td><td>初三善</td><td>2&#39;21&quot;78</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>1500M</td><td>趙子豪</td><td>初三善</td><td>5&#39;11&quot;93</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>3000M</td><td>姚龍</td><td>高一信</td><td>11&#39;40&quot;98</td><td>第十屆</td><td>2016.1</td>
      <tr><td>100米欄</td><td>苗軒</td><td>初三愛</td><td>17&quot;49</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>跳高</td><td>鄺禮宏</td><td>高一愛B</td><td>1米75</td><td>第三屆</td><td>2009.1</td>
      <tr><td>跳遠</td><td>劉烱全</td><td>初三望A</td><td>5米54</td><td>第一屆</td><td>2006.12</td>
      <tr><td>三級跳遠</td><td>黃曉迪</td><td>高一信</td><td>11米40</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>鉛球(5kg)</td><td>佘自成</td><td>初三信B</td><td>10米53</td><td>第一屆</td><td>2006.12</td>
      <tr><td>4x100M</td><td>何珈駿,趙子豪,曾廣豪,李文卓</td><td>初三聯</td><td>51&quot;40</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>4X400M</td><td>何冠澤,甄景城,劉嘉俊,林俊樂</td><td>高一聯隊</td><td>4&#39;53&quot;42</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>男子C組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>鍾君濠</td><td>初一信</td><td>12&quot;68</td><td>第六屆</td><td>2011.11</td>
      <tr><td>200M</td><td>林溢峰</td><td>初一善</td><td>25&quot;20</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>1500M</td><td>鄭世杰</td><td>初一愛</td><td>5&#39;05&quot;58</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>80米欄</td><td>苗軒</td><td>初一愛</td><td>14&quot;96</td><td>第十屆</td><td>2016.1</td>
      <tr><td>跳高</td><td>鄺禮宏</td><td>初二愛A</td><td>1米55</td><td>第一屆</td><td>2006.12</td>
      <tr><td>跳遠</td><td>鄺禮宏</td><td>初二愛A</td><td>4米98</td><td>第一屆</td><td>2006.12</td>
      <tr><td>鉛球(4kg)</td><td>黃曉迪</td><td>初二愛</td><td>10米08</td><td>第九屆</td><td>2014.11</td>
      <tr><td>4x100M</td><td>吳銘軒,關梓榮,鄭熙民,林溢峰</td><td>初一聯</td><td>52&quot;47</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>男子D組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>60M</td><td>李文卓</td><td>小六信</td><td>8&quot;42</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>1000M</td><td>林溢峰</td><td>小五望</td><td>3&#39;28&quot;86</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>跳高</td><td>李文卓</td><td>小六信</td><td>1米23</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>跳遠</td><td>林俊樂</td><td>小六信</td><td>3米54</td><td>第七屆</td><td>2012.11</td>
      <tr><td>壘球</td><td>林溢峰</td><td>小五望</td><td>32米24</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>4x50M</td><td>黃智恆,羅力高,李曉麟,周梓謙</td><td>小六聯</td><td>31&quot;93</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>男子E組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>50M</td><td>黃昊月&nbsp;</td><td>小四信</td><td>8&quot;10</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>跳高</td><td>林嘉銘</td><td>小四信</td><td>1米20</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>跳遠</td><td>李子朗</td><td>小四望</td><td>3米08</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>壘球</td><td>張誠浩</td><td>小四信</td><td>19米36</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>4x50M</td><td>許振超,黃煒傑,楊奇鑫,鄺俊軒</td><td>小四愛</td><td>36&quot;44</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td colspan="2" style="height:28.5pt; text-align:center; vertical-align:middle; white-space:nowrap">&nbsp;</td>
      <tr><td colspan="6" style="background-color:yellow; height:37.5pt; text-align:center; vertical-align:middle; white-space:nowrap">澳門浸信中學田徑運動會歷屆紀錄 (女子)</td>
      <tr><td>女子A組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>程詠欣</td><td>初三信B</td><td>12&quot;91</td><td>第四屆</td><td>2010.1</td>
      <tr><td>200M</td><td>程詠欣</td><td>初二愛A</td><td>27&quot;85</td><td>第二屆</td><td>2008.1</td>
      <tr><td>400M</td><td>程詠欣,伍詠兒</td><td>初二信B,高三信B</td><td>1&#39;07&quot;78</td><td>第三屆</td><td>2009.1</td>
      <tr><td>800M</td><td>莫嘉敏</td><td>高三愛</td><td>2&#39;49&#39;&#39;64</td><td>第六屆</td><td>2011.11</td>
      <tr><td>1500M</td><td>莫嘉敏</td><td>高三愛</td><td>5&#39;54&quot;06</td><td>第六屆</td><td>2011.11</td>
      <tr><td>3000M</td><td>黃穎詩</td><td>高二信</td><td>15&#39;41&quot;85</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>100米欄</td><td>梁慧彤</td><td>高三善</td><td>21&quot;45</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>跳高</td><td>呂芷茵</td><td>高三愛</td><td>1米45</td><td>第八屆</td><td>2013.10~</td>
      <tr><td>跳遠</td><td>馬穎柔</td><td>高三樂</td><td>4米36</td><td>第七屆</td><td>2012.11</td>
      <tr><td>鉛球(4kg)</td><td>林靜宜</td><td>高二信</td><td>7米88</td><td>第八屆</td><td>2013.10~</td>
      <tr><td>4x100M</td><td>陳意林,周嘉怡,黃嘉琪,黃穎詩</td><td>高三聯</td><td>1&#39;01&quot;71</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>4x400M</td><td>甘倩欣,周希文,黃希瑜,李美嘉</td><td>高二聯</td><td>5&#39;39&quot;43</td><td>第九屆</td><td>2014.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>女子B組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>程詠欣</td><td>初一愛A</td><td>13&quot;65</td><td>第一屆</td><td>2006.12</td>
      <tr><td>200M</td><td>卓世鑫</td><td>初三望</td><td>28&quot;97</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>400M</td><td>卓世鑫</td><td>初三望</td><td>1&#39;09&quot;20</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>800M</td><td>莫嘉敏</td><td>初三望B</td><td>2&#39;52&quot;94</td><td>第三屆</td><td>2009.1</td>
      <tr><td>1500M</td><td>雷嘉敏</td><td>初三望B</td><td>6&#39;15&quot;00</td><td>第一屆</td><td>2006.12</td>
      <tr><td>3000M</td><td>盧泳思</td><td>初三信</td><td>19&#39;55&quot;04</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>80米欄</td><td>梁慧彤</td><td>初三愛</td><td>18&quot;30</td><td>第九屆</td><td>2014.11</td>
      <tr><td>跳高</td><td>呂芷茵</td><td>初一信A</td><td>1米40</td><td>第三屆</td><td>2009.1</td>
      <tr><td>跳遠</td><td>程詠欣</td><td>初一愛A</td><td>4米26</td><td>第一屆</td><td>2006.12</td>
      <tr><td>鉛球(4kg)</td><td>林雪瑜</td><td>初三信</td><td>6米93</td><td>第十屆</td><td>2016.1</td>
      <tr><td>4x100M</td><td>梁鳳如,張芷燁,戴希而,卓世鑫</td><td>初三聯</td><td>1&#39;01&quot;21</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>4x400M</td><td>汪艷儀,胡樂敏,許凱琪,許嘉慧</td><td>初三善</td><td>6&#39;24&quot;29</td><td>第九屆</td><td>2014.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td colspan="6" style="background-color:yellow; height:37.5pt; text-align:center; vertical-align:middle; white-space:nowrap">澳門浸信中學田徑運動會歷屆紀錄 (女子)</td>
      <tr><td>女子C組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>100M</td><td>林詩晴</td><td>初一愛</td><td>13&quot;48</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>200M</td><td>林詩晴</td><td>初一愛</td><td>29&quot;14</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>1500M</td><td>戴希而</td><td>初二望</td><td>6&#39;17&quot;65</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>60米欄</td><td>卓世鑫</td><td>初二望</td><td>12&quot;86</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>跳高</td><td>林詩晴</td><td>初一愛</td><td>1米25</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>跳遠</td><td>梁慧彤</td><td>初一愛</td><td>3米91</td><td>第七屆</td><td>2012.11</td>
      <tr><td>鉛球(3kg)</td><td>施惠瑩</td><td>初二信A</td><td>7米26</td><td>第三屆</td><td>2009.1</td>
      <tr><td>4x100M</td><td>關寶琪,吳佩琪,潘思淇,林詩晴</td><td>初一聯</td><td>58&quot;00</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>女子D組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>60M</td><td>郭銘恩</td><td>小六望</td><td>8&quot;78</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>1000M</td><td>吳佩琪</td><td>小六愛</td><td>4&#39;04&quot;13</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>跳高</td><td>林詩晴</td><td>小五愛</td><td>1米15</td><td>第十一屆</td><td>2016.11</td>
      <tr><td>跳遠</td><td>林詩晴</td><td>小五望</td><td>3米47</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>壘球</td><td>邢麗嬅</td><td>小六望</td><td>32米65</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>4x50M</td><td>關寶琪,湯邵蓉,潘思淇,吳佩琪</td><td>小六聯隊</td><td>31&quot;28</td><td>第十三屆</td><td>2018.11</td>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      <tr><td>女子E組</td><td>姓名</td><td>班級</td><td>成績</td><td>屆</td><td>年份</td>
      <tr><td>50M</td><td>錢良彤</td><td>小四信</td><td>8&quot;25</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>跳高</td><td>郭銘恩</td><td>小四望</td><td>0米92</td><td>第十二屆</td><td>2017.11</td>
      <tr><td>跳遠</td><td>鄭筠佩</td><td>小四信</td><td>2米79</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>壘球</td><td>何樂兒</td><td>小四望</td><td>15米75</td><td>第十四屆</td><td>2019.11</td>
      <tr><td>4x50M</td><td>蔡汶熹,鄭悅瑤,鄭筠佩,錢良彤</td><td>小四信</td><td>38&quot;15</td><td>第十四屆</td><td>2019.11</td>
  script(type="text/javascript").
    $(document).ready(function(){
      $("#exportCSV").on('click', function(event) {
        var args = [$('#tableContent>table'), 'export.csv'];
        exportTableToCSV.apply(this, args);
      });
    });
