extends layout
block content
  p &nbps;
  p &nbps;
  p Welcome to #{title}
  <h2><font size=4>澳門浸信中學 - 聯絡我們</font></h2>
  <table width="900" height="57" border="0">
  <tr>
    <td width=100> &nbsp;&nbsp;</td>
    <td>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2611.8521455602718!2d113.55489190097924!3d22.21286912938143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x9d71e45a77016016!2z5r6z6ZaA5rW45L-h5Lit5a24KOS4reWtuOmDqCk!5e0!3m2!1szh-TW!2s!4v1455257139810" width="700" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
  </td>
  </tr>
  </table>

  <table width="700" height="268" border="1">
  <tr>
    <td width="150" height="31">地址</td>
    <td width="550">澳門黑沙環中街410號<BR>	410 Rua Central Da Areia Preta, MACAU.</td>
  </tr>
  <tr>
    <td width="150" height="31">網址</td>
    <td width="550">www.mbc.edu.mo</td>
  </tr>
  <tr>
    <td width="150" height="31">電郵</td>
    <td width="550">macaubaptist@macau.ctm.net</td>
  </tr>
  <tr>
    <td width="100" height="31">總機電話</td>
    <td width="550">2847 0388</td>
  </tr>
  <tr>
    <td width="150" height="31">中學部直線</td>
    <td width="550">2843 5601</td>
  </tr>
  <tr>
    <td width="150" height="31">小學部直線</td>
    <td width="550">2843 1942</td>
  </tr>
  <tr>
    <td width="150" height="31">幼稚園直線</td>
    <td width="550">2847 0838</td>
  </tr>
  <tr>
    <td width="150" height="31">傳真</td>
    <td width="550">2847 0601</td>
  </tr>
  </table>
