
extends ./base.pug
block content
  a(href="/internal/equed/ed/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add stud
  each book in books
    div
      a(href=`/internal/equed/ed/${book.id}`)= book.id

  if !books.length
    p No work log found.
  -var prePageToken = nextPageToken - 100 > 0 ? nextPageToken - 100 : 0
  if nextPageToken 
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) Next
  else 
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(prePageToken)}`) Prev
  if cflag            
    li
      a(href="/internal/workgrid/add") Add Rec