div.declaration_note{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color:blue;
  text-align: center;
}
div.buttoncenter1 {
  position:absolute;    
	bottom: 5%;    
	left: 50%;
}
div.center0 {
    position:relative;   
	  top:-200px;
    margin: "auto";
    min-width:100px;
    min-height:100px;
    width: 60%;   
    border: 3px solid #0F00FF;
    padding: 10px;
    background-color: #F0F8FF;
}
div.center1 {
    position:absolute;
    top: 10%;
    left: 10%;
    margin: auto;
    width: 60%;
    min-height:60%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: #F0F8FF;
}
div.loginform {
  position:absolute;
    top: 20%;
    left: 20%;
    margin: auto;
    width: 60%;
    min-height:40%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: #F0F8FF;  
}
div.logoutform {
  position:absolute;
    right: 0px;
    top: 0px;
    margin: auto;
    width: 100px;
    min-height:50px;
    border: 3px solid #73AD21;
    padding: 5px;
    background-color: #F0F8FF;
}
div.ttl{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.submitbutton{
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
h3.head_title{text-align: center;}
div.FormContent,div.PARTA,div.PARTB{
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
table{width:100%;margin:0;}
td{ min-width:100px;vertical-align: top; }
