-let links=[]
-links.push("/math/ex/f1.html?一元一次方程");
-links.push("/math/ex/f2.html?有理數運算");
-links.push("/math/ex/f3.html?一元二次方程");
-links.push("/math/ex/p2.html?加減");
-links.push("/math/ex/p5.html?方程式");
each _li in links
  a(href=_li)= _li
  br
