extends ./formbase.pug
block content
  style.
    
    div.container{margin:0px;padding:0px;}
    #container_qiz{width:100%;height:600px}
    #container_ans{width:100%;height:600px}
    #myframe{width: 380px; height: 480px;}
    #FRMIDE{ width: 380px; height: 480px;
      position: fixed;
      top: 0;
      right: 0;
    }
  //width: 700px; height: 410px;  
  div#CODEIDE(style="display:block;margin:0px;padding:0px;")
    div#container_qiz(style=" border: 1px solid grey")
  div#ANSIDE(style="display:block;margin:0px;padding:0px;")
    div#container_ans(style=" border: 1px solid grey")
  div#FRMIDE(style="display:none;")
    iframe#myframe

  //script.
    var require = { paths: { vs: 'https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs' } };
  //script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/loader.js")
  //script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js")
  //script(src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.js")
  script.
    var require = { paths: { vs: '/monaco-editor/min/vs' } };
  script(src="/monaco-editor/min/vs/loader.js")
  script(src="/monaco-editor/min/vs/editor/editor.main.nls.js")
  script(src="/monaco-editor/min/vs/editor/editor.main.js")

  script.
    var editor = monaco.editor.create(document.getElementById('container_qiz'), {
        value: !{qiz_code}.join("\n"),
        language: 'javascript',
        theme: "vs-dark",
    });
    var editor_ans = monaco.editor.create(document.getElementById('container_ans'), {
        value:!{ans_code}.join("\n"),
        language: 'javascript',
        theme: "vs-dark",
    });
    monaco.languages.typescript.javascriptDefaults
        .addExtraLib(`var tmsU={TakeARnd:"",TakeAFra:"",TakeAOpr:"",AdjExpFmt:""};
                     var tmsCalcu={RunExpr:"",RunFrcExpr:"",Sytex_cclist:"",Sytex_cclist_x:"",exprCalc:""}`,
        )



