<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mbc 2020-2021 sport</title>
  </head>
  <script>
function lc(x){
 window.location.assign("sport_rc?n="+x.text.split(":")[1]);
}
  </script>
  <style>
  ul {
    list-style-image: url('/act_static_info/info/image001.png');
	}
  </style>
 <body>
 澳門浸信中學第十二屆田徑運動會章程
 
<p>
<ul>
<li><a href=/act_static_info/info/1.htm>1_校運會賽程表</a></li>
<li><a href=/act_static_info/info/2.htm>2_校運會學生裁判員及學生工作人員名單</a></li>
<li><a href=/act_static_info/info/3.htm>3_歷屆團體總冠軍紀錄</a></li>
<li><a href=/act_static_info/info/4.htm>4_澳門浸信中學田徑運動會各組賽事歷屆紀錄</a></li>
<li><a href=/act_static_info/info/5.htm>5_學生工作人員注意事項</a></li>
<li><a href=/act_static_info/info/6.htm>6_運動員注意事項</a></li>
<li><a href=/act_static_info/info/7.htm>7_學生注意事項</a></li>
<li><a href=/internal/act/sportday/sport_rc?n=0>8A_比賽名單賽果</a></li>
</ul>
</p>
<p>
<a href=/internal/act/sportday/spreg.jsp>報名</a><br>
</p>
						
 </body>
</html>

